<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangziping.shop.dao.BrandDao">

	<resultMap type="Brand" id="brandMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="first_char" property="firstChar" />
		<result column="deleted_flag" property="deletedFlag" />
	</resultMap>

	<select id="getBrandList" resultMap="brandMap">
		select * from hg_brand
		<where>
			<if test="null != firstChar and firstChar != ''">
				and first_char like #{firstChar}
			</if>
			and deleted_flag = 0
		</where>
	</select>

	<select id="findBrandById" resultMap="brandMap">
		select * from hg_brand
		where id = #{id}
	</select>

	<insert id="addBrand">
		insert into hg_brand (name, first_char, deleted_flag)
		values(#{name}, #{firstChar}, 0)
	</insert>

	<update id="updateBrand">
		update hg_brand set name = #{name}, first_char =
		#{firstChar} where id = #{id}
	</update>

	<delete id="deleteBrand">
		update hg_brand set deleted_flag = 1
		where id = #{id}
	</delete>

	<delete id="delBatchbrand">
		update hg_brand set deleted_flag = 1 where id in
		<foreach collection="array" separator="," open="(" close=")"
			item="id">#{id}</foreach>
	</delete>

	<select id="getAllBrands" resultMap="brandMap">
		select * from hg_brand where
		deleted_flag = 0 order by
		name
	</select>

</mapper>