<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangziping.shop.dao.SpuDao">

	<resultMap type="Spu" id="spuMap">
		<id column="id" property="id" />
		<result column="goods_name" property="goodsName" />
		<result column="is_marketable" property="isMarketable" />
		<result column="brand_id" property="brandId" />
		<result column="caption" property="caption" />
		<result column="category_id" property="categoryId" />
		<result column="small_pic" property="smallPic" />
		<association property="brand" column="brand_id"
			select="com.wangziping.shop.dao.BrandDao.findBrandById"></association>
		<association property="category" column="category_id"
			select="com.wangziping.shop.dao.CategoryDao.findById"></association>
	</resultMap>


	<select id="listSpu" resultMap="spuMap">
		select * from hg_spu
		<where>
			<!-- <if test=""> </if> <if test=""> </if> <if test=""> </if> <if test=""> 
				</if> -->
		</where>
	</select>

	<select id="findById" resultMap="spuMap">
		select * from hg_spu where id = #{value}
	</select>

	<insert id="addSpu" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into hg_spu (goods_name, is_marketable,
		brand_id, caption, category_id, small_pic ) values (#{goodsName},
		1,
		#{brandId}, #{caption}, #{categoryId}, #{smallPic})
	</insert>

	<update id="update"></update>

	<delete id="deleteSpu"></delete>

	<delete id="deleteSpuBatch"></delete>

</mapper>